<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :github_id %><br />
  <%= f.text_field :github_id %>

  <%= f.label :created_at %><br />
  <%= f.datetime_select :created_at %>

  <%= f.label :title %><br />
  <%= f.text_field :title %>

  <%= f.submit %>

<% end %>
