<p id="notice"><%= notice %></p>

<p>
  <b>Github:</b>
  <%= @job.github_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @job.created_at %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Type:</b>
  <%= @job.type %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>How to apply:</b>
  <%= @job.how_to_apply %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Company url:</b>
  <%= @job.company_url %>
</p>

<p>
  <b>Company logo:</b>
  <%= @job.company_logo %>
</p>

<p>
  <b>Url:</b>
  <%= @job.url %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
