<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Job Hunt App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <script type="text/javascript" src="//use.typekit.net/kbm4giv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <%= render partial: "shared/messages" %>

  <div class="wrapper">

    <header role="banner">
      <h1 class="ir logo">
        <% if current_user %>
          <%= link_to 'Job Watch', current_user %>
        <% else %>
          <%= link_to 'Job Watch', root_path %>
        <% end %>
      </h1>
      <h2>A simple little app to help organise your job search</h2>
    </header>

    <% if current_user %>
      <nav role="primary">
        <ul role="navigation">
          <li><%= link_to "Search Jobs", search_jobs_path, class: cp(search_jobs_path) %></li>
          <li><%= link_to "Your Profile", user_path(current_user), class: cp(user_path(current_user)) %></li>
          <li><%= link_to 'Sign out', sessions_destroy_path %></li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>

  </div><%# wrapper %>
</body>
</html>
